{% extends 'navBar.html' %}
{% block content %}

<div class="container">

  <div class="heading_container">
    <center>
      <h2>
        Booking edit
      </h2>
    </center>
  </div>

<center>

  <form action="./booking?id={{ cita_o.id }}&day={{cita_o.start.day}}&month={{cita_o.start.month}}&year={{cita_o.start.year}}" method="post">

  {% csrf_token %}

  <!-- Date: <input type="datetime-local" name="start" value=""> -->
  Date: {{ date }}
  <br>
  <label for="clients">Client:</label>
  <select name="clients" id="clients">
    {% for client in clients %}
   <option value="{{ client.id }}"  {% if client.id == cita_o.client.id  %} selected {% endif %}>{{client.nombre}}</option>
   {% endfor %}
  </select>
  <br>
  <label for="workers">Worker:</label>
  <select name="workers" id="workers">
    {% for worker in workers %}
   <option value="{{ worker.id }}" {% if worker.id == cita_o.worker.id  %} selected {% endif %} >{{worker.nombre}}</option>
   {% endfor %}
  </select>
  <br>
  <label for="start">Start:</label>
  <select name="start" id="start">
   <option value="{{ cita_o.start.hour }}" selected >{{ cita_o.start.hour }}</option>
   <option value="9">9am</option>
   <option value="10">10am</option>
   <option value="11">11am</option>
   <option value="12">12am</option>
   <option value="13">1pm</option>
   <option value="14">2pm</option>
   <option value="15">3pm</option>
   <option value="16">4pm</option>
   <option value="17">5pm</option>
  </select>

  <label for="end">End:</label>
  <select name="end" id="end">
    <option value="{{ cita_o.end.hour }}" selected >{{ cita_o.end.hour }}</option>
   <option value="10">10am</option>
   <option value="11">11am</option>
   <option value="12">12am</option>
   <option value="13">1pm</option>
   <option value="14">2pm</option>
   <option value="15">3pm</option>
   <option value="16">4pm</option>
   <option value="17">5pm</option>
   <option value="16">6pm</option>

  </select>

  <br>
  <input type="submit" name="" value="schedule">

  </form>

</div>

</center>
{% endblock %}
